/Actividad03/build/
/Actividad4/nbproject/private/
/Actividad4/build/
/Actividad05/nbproject/private/
/Actividad003/nbproject/private/
/Actividad003/build/
/Examen02/nbproject/private/
/Examen02/build/
/Actividad06/nbproject/private/
/Actividad06/build/
/Actividad 07/nbproject/private/
/Actividad 07/build/
/Examen3/nbproject/private/
/Examen3/build/
/Actividad08/nbproject/private/
/Actividad08/build/
/Actividad 09/nbproject/private/
/Actividad 09/build/
/Examen4/nbproject/private/
/Examen4/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/ProyectoFinal/nbproject/private/
/ProyectoFinal/build/
/Guis/nbproject/private/
/Guis/build/
/TuristaMundial/nbproject/private/
/TuristaMundial/build/
/Celsius/nbproject/private/
/Celsius/build/
/Celsius/dist/
/ContactEditor/nbproject/private/
/Repaso/nbproject/private/
/Repaso/build/
/ATM2/nbproject/private/
/ATM/nbproject/private/
/ATM/build/
/Cajero/nbproject/private/
/Cajero/build/
/Cajero/dist/